@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 40px 20px;
    background-color: black;
    color: #daa520;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
}

.signup-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.signup-container>header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
}

.signup-container>form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 992px) {
    .signup-container {
        flex-direction: column;
        gap: 40px;
    }

    .signup-container>header {
        flex: none;
    }

    .signup-container>form {
        width: 90%;
        max-width: 600px;
    }
}