form>.button {
    width: 100%;
    max-width: none;
}

.button {
    position: relative;
    height: 75px;
    font-family: "Press Start 2P", system-ui;
    background-color: black;
    color: black;
    cursor: pointer;
    transition: transform 0.1s;
    appearance: none;
    border-style: solid;
    border-width: 8px;
    border-image-slice: 4 fill;
    border-image-source: url(../assets/button_gold.png);
    image-rendering: pixelated;
    font-size: clamp(14px, 3vw, 18px);
}

.button:hover {
    transform: scale(1.01);
}

.button:active {
    transform: translateY(2px);
}