.title-wrapper {
    position: relative;
    text-align: center;
    display: inline-block;
}

h1 {
    position: relative;
    font-size: clamp(48px, 8vw, 64px);
    color: #f0f0f0;
    z-index: 20;
    margin: 0;
    line-height: 1.2;
}

header p {
    margin-top: 10px;
    font-size: clamp(14px, 3vw, 16px);
}

@keyframes star-glow-effect {
    50% {
        filter: drop-shadow(0 0 5px goldenrod);
    }
}

.star {
    position: absolute;
    image-rendering: pixelated;
    animation: star-glow-effect 3s infinite;
}

#star1 {
    width: 11em;
    left: -8em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

#star2 {
    width: 9em;
    right: -7em;
    top: 10%;
    transform: translateY(-50%);
    z-index: 5;
}

#star3 {
    width: 3em;
    top: -1.5em;
    left: 5em;
    z-index: 25;
}